/* Variables for Colors used on page */
:root {
  --headerbk: gray;
  --headercolor: white;
  --navcolor: white;
  --herotext: white;
  --bodybackground: gray;
  --imagetxt: white;
  --imagetxtbg: black;
  --mainbodycolor: white;
  --divline: silver;

}


/* Header */

header {
  font-family: 'Metal Mania', cursive;
  color: var(--headercolor);
  display: flex;
  flex-grow: 1;
  margin: 0pc;
  justify-content: space-between;
  align-items: center;
}


.hero {
  background-image: url("../images/banner-header-1449745071UBW.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  display: flex;
  border-radius: 10px;

}


/* Main Body  */
body {
  background-color: var(--bodybackground);
  margin-right: 10%;
  margin-left: 10%;
  font-size: 25px;
  font-family: 'Metal Mania', cursive;
  color: var(--mainbodycolor);
}

.vline {
  border-left: 6px solid var(--divline);
  padding-right: 5%;
  position: relative;

}

/* About/Contact Flexbox */

.headshot {
  background-image: url("../images/Cropped.jpg");
  float: left;
  width: 30%;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: 100%;
  max-width: 200px;
}


p {
  text-align: justify;
  padding: 0 15px;
  font-size: 25px;
}

.twocol {
  display: flex;
  background-color: var(--bodybackground);
  font-size: 25px;
}

section {
  display: flex;
  padding: 0 15px;
  align-items: stretch;
}

section h2 {
  flex: 0 0 20%;
  font-size: 25px;

}

section h4 {
  flex: 0 0 20%;
  font-size: 25px;
}


/* Project Flexbox */

.workContainer {
  flex: 0 0 75%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.a {
  min-height: 200px;
  max-height: 200px;
  flex-basis: calc(30% - 1em);
  display: flex;
  align-items: flex-end;
  background-size: 150%;
  margin: 0.5em;
  font-size: 15px;
  border-radius: 10px;
}

.mainproj {
  background-image: url(https://github.com/akcodes29/CafeTransmute/raw/main/assets/images/CafeTransmute-SS.png);
  max-height: 450px;
  max-width: 100%;
  flex-basis: 100%;
  background-position: top,center;
  
}

.subproj {
  background-image: url(../images/RefactorSite.png);
}

.subproj1 {
  background-image: url(../images/Github.png);
}

.subproj2 {
  background-image: url(../images/SBSite.png);
}

.projtxt {
  background-color: var(--imagetxtbg);
  color: var(--imagetxt);
}

/* Contact Section */

.contactitem {

  flex-basis: calc(30% - 1em);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 150%;
  margin: 0.5em;
  font-size: 25px;
}

/* Hover Settings */

.subhov:hover {
  opacity: 50%;
}

.mainproj:hover {
  opacity: 50%;
}