/* Variables for Colors used on page */
:root {
  --headerbk: gray;
  --headercolor: white;
  --navcolor: white;
  --herotext: white;
  --bodybackground: gray;
  --imagetxt: white;
  --imagetxtbg: black;
  --mainbodycolor: white;
}


/* Header */

header {
  font-family: 'Metal Mania', cursive;
  color: var(--headercolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.hero {
  background-image: url("../images/tianyi-ma-WiONHd_zYI4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px ;
  justify-content: center;
  display: flex;
}


/* Main Body  */
body {
  background-color: var(--bodybackground);
  margin-right: 10%;
  margin-left: 10%;
  font-size: 25px;
  font-family: 'Metal Mania', cursive;
  color: var(--mainbodycolor);
}


/* About/Contact Flexbox */

.twocol {
  display: flex;
  background-color: var(--bodybackground);
  font-size: 25px;
}

section {
  display: flex;
  padding: 0 15px;
  align-items: stretch;
}

section h2 {
  flex: 0 0 20%;
  font-size: 25px;

}

section h4 {
  flex: 0 0 20%;
  font-size: 25px;
}


/* Project Flexbox */

.workContainer {
  flex: 0 0 75%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.a {
  min-height: 200px;
  max-height: 200px;
  flex-basis: calc(30% - 1em);
  display: flex;
  align-items: flex-end;
  background-size: 150%;
  margin: 0.5em;
  font-size: 15px;
}

.mainproj {
  background-image: url(../images/RefactorSite.png);
  max-height: 450px;
  flex-basis: 100%;
}

.subproj {
  background-image: url(../images/NetPic.jpg);
}

.subproj1 {
  background-image: url(../images/Github.png);
}

.subproj2 {
  background-image: url(../images/SBSite.png);
}

.projtxt {
  background-color: var(--imagetxtbg);
  color: var(--imagetxt);
}

/* Contact Section */

.contactitem {

  flex-basis: calc(30% - 1em);
  display: flex;
  align-items: flex-end;
  background-size: 150%;
  margin: 0.5em;
  font-size: 25px;
}

/* Hover Settings */

.subproj:hover {
  opacity: 50%;
}

.mainproj:hover {
  opacity: 50%;
}